# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore Prisma's generated client files (if you have them)
prisma/generated/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore npm package lock files (optional)
package-lock.json
yarn.lock
